body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f0f0f0;
    background-image: url("images/features-background.png");
    background-size: cover;
    background-position: center; /* Ensures footer stays at the bottom */
}

header {
    background-color: #266a28; /* A richer green */
    color: white;
    padding: 20px;
    text-align: center;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #ddd;
}

main {
    padding: 20px;
    flex: 1; /* Fills the remaining space to push the footer down */
}

h2 {
    color: #26c253;
    border-bottom: 2px solid #4CAF50; /* Underline effect */
    padding-bottom: 10px;
}

.discussion-list {
    margin-bottom: 20px;
}

.discussion {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    transition: box-shadow 0.3s;
}

.discussion:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.expert-advice {
    background-color: #f9f9f9;
    padding: 15px;
    border-radius: 5px;
}

.advice {
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 10px 0;
    padding: 10px;
    transition: box-shadow 0.3s;
}

.advice:hover {
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box; /* Ensures padding does not affect overall width */
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #218838;
}

footer {
    background-color: #254822;
    color: white;
    text-align: center;
    padding: 10px;
    margin-top: auto; /* Ensures footer is at the bottom */
}
